@import "./partials/mixin";
@import "./partials/commons";

main{
  .container {
    width: 1070px;
    margin: auto;
    @include flex(row, space-around);
    flex-wrap: wrap;
    .cd{
      @include flex(column, space-around);
      padding: 20px;
      margin: 10px 20px;
      height: 360px;
      width: 200px;
      background: rgb(46, 58, 70);
      text-align: center;
      img{
        width: 100%;
      }
      h3{
        margin: 20px 0;
        color: white;
        font-size: 22px;
        text-transform: uppercase;
      }
      span .author{
        color: grey;
        font-size: 20px;
      }
      span .year{
        color: grey;
      }
    }
  }
}
